*.pyc
/.coverage
/.mypy_cache/
/.pytest_cache/
/.tox/
/*.egg-info
/build/
/dist/
/MANIFEST
/.karma_coverage
/node_modules
/mopidy_eboplayer2/www/generated/bundle.js
/mopidy_eboplayer2/www/generated/
/.idea/workspace.xml