* {
    --body-background: #323;
    --header-background: #2a1c2a;
    --panel-background: black;
    --panel-button-background: transparent;
    --panel-button-selected: purple;
    --highlight-background: rgba(184, 134, 11, 0.53);
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: white;
}

input[type=text],
.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

input {
    background: rgba(255, 255, 255, .07);
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.whiteIcon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(350deg) brightness(104%) contrast(102%);
}
::selection {
    color: white;
    background: blue;
}
.textGlow{
    font-size:1rem;
    margin-top:5vh;
    animation-name:glow;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-direction:normal;

}

@keyframes glow{
    0%{text-shadow: 0 0 0px #ffff0000;}
    50%{text-shadow: 0 0 10px #ffff00;}
    100%{text-shadow: 0 0 0px #ffff0000;}
}

.roundBorder {
    border-style: solid;
    border-width: 1px;
    border-radius: 05rem;
    padding: .2rem 1rem;
    margin-left: .2em;
    margin-right: .2em;
    margin-top: .2em;
    & i.fa {
        position: relative;
        top: .1rem;
    }
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
