* {
    --body-background: #323;
    --header-background: #2a1c2a;
    --panel-background: black;
    --panel-button-background: transparent;
    --highlight-background: rgba(184, 134, 11, 0.3);
    --playing-background: rgba(184, 134, 11, 0.53);
    --selected-background: rgba(84, 193, 251, 0.39);
    --edit-background: rgba(255, 255, 255, 0.07);
    --link-color: #badff1;
    --link-underline-color: #badff144;
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: white;
    --highlight-color: rgb(253, 213, 110);
    --half-highlight-color: rgba(from var(--highlight-color) r g b / 0.7);
}

input[type=text],
.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

input {
    background: rgba(255, 255, 255, .07);
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.whiteIcon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(350deg) brightness(104%) contrast(102%);
}
::selection {
    color: white;
    background: blue;
}
.textGlow{
    font-size:1rem;
    margin-top:5vh;
    animation-name:glow;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-direction:normal;

}

@keyframes glow{
    0%{text-shadow: 0 0 0px #ffff0000;}
    50%{text-shadow: 0 0 10px #ffff00;}
    100%{text-shadow: 0 0 0px #ffff0000;}
}

.roundBorder {
    border-style: solid;
    border-width: 1px;
    border-radius: 05rem;
    padding-block: .2rem;
    padding-inline: .7rem;
    margin-inline: .2em;
    margin-block-start: .2em;
    & i.fa {
        position: relative;
        top: .1rem;
    }
}
.iconButton {
    padding-inline: .5rem;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
    flex-direction: row;
}

.flexGrow {
    flex-grow: 1;
}

.flexShrink {
    flex-shrink: 1;
}

.italic {
    font-style: italic;
}

select {
    background-color: var(--edit-background);
}

option {
    background-color: var(--body-background);
}

input {
    background-color: var(--edit-background);
}

.hidden {
    display: none;
}

.linkButton {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    cursor: pointer;
    &:hover {
        text-decoration-color: #4db2e4ff;
    }
}

.dropDownImage {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0;
}

.squircleButton {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 1rem;
    corner-shape: squircle;
    padding: .2rem;
    font-size: .7rem;
    width: .7rem;
}

i.miniEdit {
    font-size: .55rem;
    margin-inline-start: .6rem;
}