body {
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--body-background);
    color: white;
}

/* disable text selection for mouse swipe */
body * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.title.condensed  {
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

p {
    padding: 0;
    margin: 0;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#albumBig {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

#trackInfoBig {
    margin-bottom: 1em;
}

#topContent {
    flex: 1;
    display: flex;
    overflow: hidden;
    .browse &{
         ebo-big-track-view {
             display: none;
         }
        ebo-big-album-view {
            display: none;
        }
    }
    .bigTrack &{
        ebo-browse-view {
            display: none;
        }
        ebo-big-album-view {
            display: none;
        }
    }
    .bigAlbum &{
        ebo-browse-view {
            display: none;
        }
        ebo-big-track-view {
            display: none;
        }
    }
}

#layout {
    display: flex;
    flex-flow: column;
    height: 100%;

    &.browse,
    &.bigAlbum
    {
        #stickyTop {
            height: 100vh;
        }
        #tableWrapper {
            height: 0;
        }
    }
    #stickyTop {
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

    #tableWrapper {
        height: 50vh;
        overflow: scroll;
        scrollbar-width: none;
    }
    #headerSearchBtn {
        img {
            width: 20px;
            height: 20px;
            display: none;
        }
    }

    #headerSearchBtn[data-goto="#NowPlaying"] {
        i {
            display: none;
        }
        img {
            display: block;
        }
    }

}

.flex_wrap_content {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.flex_fill_remainder {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

h3#modalname a{
    background-color: transparent;
}
.nobullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#currentTrackBigView {
    flex: 1;
    display: flex;
    overflow: hidden;
}

#browseView {
    width: 100%;
}

#header {
    padding-top: 8px;
}

.info {
    font-size: .5em;
}


a {
    color: white;
}

ul#header {
    background-color: var(--header-background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    li {
        display: inline;
    }
    p {
        padding: .2em 1em;
        font-size: .7em;
        margin-top: .2em;
    }
}

p.warning  {
    background-color: #ffaa00a0;
    border-radius: 50vh;
    padding-left: 1em;
    padding-right: 1em;
}

.albumCoverContainer {
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        /*display: block;*/
    }
}

input[type='range'].minimal {

    & {
        margin: 0;
        overflow: hidden;
        -webkit-appearance: none;
        background-color: #ffffff30;
    }

    &::-webkit-slider-runnable-track {
        height: 2px;
        -webkit-appearance: none;
        color: white;
        margin-top: -1px;
    }

    &::-webkit-slider-thumb {
        width: 5px;
        appearance: none;
        height: 5px;
        cursor: ew-resize;
        background: white;
        box-shadow: -999px 0 0 999px #ffffff40;
    }
}



#buttonBarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    & img {
        width: 2em;
        height: 2em;
        margin-right: 1em;
    }

}

ebo-button-bar {
    width: 100%;
}


ebo-big-track-view {
    text-align: center;
    & h3 {
        margin-bottom: 0;
    }
    & p {
        opacity: .7;
    }
}

.albumCoverContainer {
    background-color: red;
}
/*helper*/
.ui-loader h1 {
}


/*GLOW*/
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    /*background-color: red;*/
    background-color: transparent;
    /*background: #44444480;*/
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1000px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0.2;
    transition: opacity .3s ease-in-out;
    border-radius: 1000px 10px;
}

.glow-on-hover:active {
    color: #000
}


.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 1000px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#timelineTable {
    width: 100%;
    border-collapse: collapse;
    & tr {
        div.progressBar {
            background-color: #ffffff20;
            height: 1px;
        }
        &.selected {
            opacity: 1;
            background-color: #fffff010;
        }
        &.clicked {
            opacity: 1;
            background-color: #fffff020;
        }
        &.current {
            opacity: 1;
            & div.progressBar {
                background-color: #ffff8840;
            }
        }
        &.behind-1 {
            opacity: 0.35;
        }
        &.behind-2 {
            opacity: 0.3;
        }
        &.behind {
            opacity: 0.2;
        }
        & td:first-child {
            padding-right: 1em;
        }
    }
}

.trackLine {
    h1 {
        font-size: .8rem;
        color: white;
        margin: 0;
    }
    small {
        --textColor: white;
        font-size: .6rem;
        color: rgb(from var(--textColor) r g b / 50%);
    }
}

.historyLine {
    td:first-child {
        opacity: .6;
    }
}

.trackLine.current {
    td:first-child {
        opacity: 1;
    }
}

ebo-big-album-view {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}
